@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0FCFF), to(#6BAFFC));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #F0FCFF, #6BAFFC);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #F0FCFF, #6BAFFC);

  /* IE 10 */
  background: -ms-linear-gradient(top, #F0FCFF, #6BAFFC);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #F0FCFF, #6BAFFC);


font-family: 'Open Sans', sans-serif; font-size:12px;}

p { font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 10pt;
	}

img.floatLeft { 
    float: left; 
    margin: 4px; 
    clear: left;
}
img.floatRight { 
    float: right; 
    margin: 4px;
    clear: right; 
}

#wrap {width:882px; margin:auto;margin-bottom:36px}
.clear {clear:both;}
a {color:#000000;}
a:visited,active {color:#666666;}
.hide {display:none;}
/*Header*/
#topbar {background-color: #6BAFFC;}
#topbar #TopSection {width:882px; margin:auto; height: 43px;}
#topbarnav .topnavitems {float:right; display:block;}
#wrap #header {}
#header .introtext {display:block;text-align:right; font-weight:normal; color:#353535; font-size:40px;}
.highlight {background:#FFFFFF; color:#0099CC;}
.highlight3 {color:#099; font-size:40px;}
.highlight2 {color:#FFFF99; font-size:28px; font-style:italic;}

/* Top Menu */
#topmenu {list-style:none; text-align:center; padding-top:4px;font-family: 'Open Sans', sans-serif;text-transform:lowercase;}
#topmenu li {display:inline;}
#topmenu a, #topmenu a:visited, #topmenu a:active {	display:block;	text-decoration:none; color:#ffffff; float:left; padding:10px;
}
#topmenu a:hover {display:block; text-decoration:none; color:#ffffff; float:left; padding:10px;color: #353535;
background-color: #FFF; opacity:0.5;}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {display:block; text-decoration:none; color:#ffffff; float:left; padding:10px;color: #353535;
background-color: #FFF;}
/* Contents */
    float:rightdd;
#contents {font-size:11px;height:100%;}
#contents a:hover {text-decoration:none;}
#contents p {color:#666666; line-height:22px;}
#contents h2 {color:#353535; font-weight:normal;border-bottom: 1px solid #353535;}
#contents h2.introtext {border-bottom: none;}

#left { position:relative; width:882px; float:left; padding:5px 20px 5px 5px; border: 1px solid #353535;background-color: #FFF;margin-top: 10px;}
#left h3, #left h4, #left h5 { color:#009999; display:block; padding:5px; margin-bottom:10px; margin-top:10px;}
#left h3 {font-size:20px; font-family: 'Open Sans', sans-serif; font-weight:normal;}
#left h4 {font-size:18px; font-family: 'Open Sans', sans-serif; font-weight:normal;}
#left h5 {font-size:14px; font-family: 'Open Sans', sans-serif; font-weight:normal;}

#left h2 {font-size:26px; display:block; padding:5px;}
#left h2 a, #left h2 a:visited, #left h2 a:active{color:#353535; text-decoration:none;}
#left h2 a:hover {color:#000000;}
blockquote {display:block; border-top:dashed 1px #D2B87B;  border-bottom:dashed 1px #D2B87B;text-align:center; margin:10px; padding:10px;}
blockquote p {font-size:12px; }
#left img {}
#left .alignleft {float:left;}
#left .alignright {float:right;}

#left ol {padding-left:20px; color: #666}
#left ol li {padding:3px;}
#left ul {padding:10px; color:#666666;}
#left ul li {padding:3px; display:block; border-bottom:dashed 1px #099;}
#left ul li a {color: #099;}
#left p {margin:10px 0px 10px 0px;}

#credit {background:#6BAFFC;text-align:center; color:#353535; font-family: 'Open Sans', sans-serif; font-size:10px;}
#creditText{
  padding:10px; 
}
#credit a,#footer a:visited, #footer a:active, #footer a:hover {color:#0078FF;}


.imageT { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.greetings {
    position: absolute;
    background-color: #E6F6FF;
    width:55%;
    float:left;
}

.greetingsP {
    margin-top:-1px;
    float:left;
    background-color: #353535;
    opacity: 0.95;
    color: #FFF;
    font-size: large;
    text-align: justify;
    line-height: normal;
}

.greetingsPC {
padding:10px;
}

.person {
  float: left;
  margin: 5px;
  background: #fff;
  padding: 2px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
  -moz-transition: -moz-transform .15s linear;
}

.person:after {
  content: attr(title);
}

.person img {
  display: block;
  width: 90px;
  height: 115px;
  margin-bottom: 8px;
}

.person:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

.person:nth-child(3n) {
  -webkit-transform: none;
  position: relative;
  top: -5px;
  -moz-transform: none;
}

.person:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  position: relative;
  right: 5px;
  -moz-transform: rotate(5deg);
}

.person:nth-child(8n) {
  position: relative;
  right: 5px;
  top: 8px;
}

.person:nth-child(11n) {
  position: relative;
  left: -5px;
  top: 3px;
}

.person:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
  position: relative;
  z-index: 3;
}

.navwrap{
  width:882px;
  position:fixed;
  margin: -5px;
  padding: 5px;
  background-color: #F5F5F5;
  display: inline-block;
  margin-bottom:10px;
}
.nav{
  border-right: solid 1px #FFF;
  display: inline-block;
  cursor: pointer;
  background-color: #6BAFFC;
  padding: 5px 10px;
  margin-right: -3px;
}

.nav.active {
  background-color: #0078FF;
  color:#FFF;
}

.fixednav {
  min-height: 30px;
}
