<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Head Injury Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li><a href="index.php">home</a></li>
			<li><a href="moreAboutConcussion.php">more about concussion</a></li>
			<li><a href="howDoIParticipate.php">how do I participate</a></li>
			<li class="active"><a href="aboutThisStudy.php">about this study</a></li>
			<li><a href="whoWeAre.php">who we are</a></li>
			<li><a href="contactUs.php">contact us</a></li>		
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents">
    <div id="left">
    <h2><a href="#">about this study... </a></h2>
    <p>
	Though there has been increasing media and scientific attention on the subject of concussion, much is still not known.
	</p>
    <p>
	Studies in professional athletes suggest that multiple concussions can place athletes at risk for long term problems such as dementia and chronic traumatic encephalopathy.
	</p>
    <p>
	However, professional athletes sustain high-force and high-frequency injuries, which are very different from the injuries sustained by children and young adults who play in competitive but not professional sports.
	</p>
    <p>
	The best way to study the long term effects of concussive head injury in children and young adults would be to follow them as they age, over the course of 30-40 years.  However, these types of study are time consuming and expensive and will only yield answers in decades to come.
	</p>
    <p>
	In this study, we will ask alumni ages 40-70 years old about their history of athletic participation and whether or not they sustained a concussion or head injury.  After administering some questionnaires developed by researchers at the National Institutes of Health, we will evaluate whether exposure to concussion places former college athletes at risk for long term problems in brain function and health.
    </p>
    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
