<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
${IETAG}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Brain Characteristics Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li><a href="index.php?IECheck=${IECHECK}">home</a></li>
			<li><a href="ourStudy.php?IECheck=${IECHECK}">our study</a></li>
			<li><a href="whoWeAre.php?IECheck=${IECHECK}">who we are</a></li>
			<li><a href="preparingForYourStudyVisit.php?IECheck=${IECHECK}">preparing your visit</a></li>
			<li><a href="whatToExpectDuringYourStudyVisit.php?IECheck=${IECHECK}">what to expect</a></li>
			<li class="active"><a href="contactUs.php?IECheck=${IECHECK}">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents">
    <div id="left">
    <h2><a href="#">contact us... </a></h2>
    <p>
    If you have any questions <b>about the study</b>, please feel free to contact this study’s lead investigator:
	</p>
	<address style="font-size: 14px;border: 1px solid #353535;
padding: 10px;
display: inline-block;background-color: #E7F7FF;margin: 0px 0px 20px 10px;">
	Dr. Michele DeGrazia PhD, RN, NNP-BC<br/>
	Principal Investigator<br/>
	Director of Nursing Research, NICU<br/>
	Boston Children’s Hospital<br/>
	300 Longwood Avenue<br/>
	Boston, MA 02115<br/><br/>
	<b>Phone</b> 617-919-1222<br/>
    <b>Pager</b> #6369<br/>
    <b>Email</b> <a href="mailto:michele.degrazia@childrens.harvard.edu">michele.degrazia@childrens.harvard.edu</a>
	</address>

    <p>
    If you have questions <b>about your MRI/neurobehavioral sessions</b>, please feel free to contact co-investigator Dr. Sara Smith.</br> <b>In addition, please contact Dr. Sara if you are running late on the day of your MRI/neurobehavioral sessions or need to cancel.</b>
	</p>
	<address style="font-size: 14px;border: 1px solid #353535;
padding: 10px;
display: inline-block;background-color: #E7F7FF;margin: 0px 0px 20px 10px;">
	Dr. Sara Smith, PhD<br/>
	Labs of Cognitive Neuroscience<br/>
	Gaab Laboratories<br/>
	Boston Children’s Hospital<br/>
	1 Autumn Street<br/>
	Boston, MA 02115<br/><br/>
	<b>Phone</b> 781-216-1931<br/>
    <b>Email</b> <a href="mailto:sara.smith@childrens.harvard.edu">sara.smith@childrens.harvard.edu</a>
	</address>

    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
