<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Head Injury Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li><a href="index.php">home</a></li>
			<li><a href="moreAboutConcussion.php">more about concussion</a></li>
			<li class="active"><a href="helpfulLinks.php">helpful links</a></li>
			<li><a href="howDoIParticipate.php">how do I participate</a></li>
			<li><a href="aboutThisStudy.php">about this study</a></li>
			<li><a href="whoWeAre.php">who we are</a></li>
			<li><a href="contactUs.php">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents">
    <div id="left">
    <h2><a href="#">helpful links... </a></h2>
    <ul>
		<li><a href="http://www.cdc.gov/concussion/">CDC information</a></li>
		<li><a href="http://childrenshospital.org/az/Site3156/mainpageS3156P0.html">Children's Hospital</a></li>
		<li><a href="http://www.youtube.com/watch?v=jW8SwnXHKKw&feature=plcp">Video</a></li>
		<li><a href="http://www.momsteam.com/health-safety/concussion-safety">Concussion Safety</a></li>
    </ul>
    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
