<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class='welcome' xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Head Injury Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li class="active"><a href="index.php">home</a></li>
			<li><a href="moreAboutConcussion.php">more about concussion</a></li>
			<li><a href="howDoIParticipate.php">how do I participate</a></li>
			<li><a href="aboutThisStudy.php">about this study</a></li>
			<li><a href="whoWeAre.php">who we are</a></li>
			<li><a href="contactUs.php">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents">
    <div id="left" style='height:100%;background-image:url("images/welcome.png");background-repeat:no-repeat; background-color:#353535;'>
        <div class='greetings'>
          <h2 class="introtext">
	        Welcome to the <br>
		    <span class="highlight3">head injury study
		    </span>
		  </h2>
		</div>

        <div class='greetingsP'>
          <div class='greetingsPC'>
            Athletics are an important part of the college career of many Division III students. However, participation in athletics can sometimes result in injury, including head injury or concussion.<br><br>While there has been a lot of attention to the long term effects of multiple concussions in professional athletes, it is unclear if there are any long term risks of concussion in children or young adult adults.<br><br>This study is designed to address this important question.<br><br>We are grateful for your time and participation.  
          </div>
	    </div>
    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
