<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html class='welcome' xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Brain Characteristics Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
${IETAG}
</head>

<body>
${OVERLAY}
<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li class="active"><a href="index.php?IECheck=${IECHECK}">home</a></li>
			<li><a href="ourStudy.php?IECheck=${IECHECK}">our study</a></li>
			<li><a href="whoWeAre.php?IECheck=${IECHECK}">who we are</a></li>
			<li><a href="preparingForYourStudyVisit.php?IECheck=${IECHECK}">preparing your visit</a></li>
			<li><a href="whatToExpectDuringYourStudyVisit.php?IECheck=${IECHECK}">what to expect</a></li>
			<li><a href="contactUs.php?IECheck=${IECHECK}">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents" style="height:100%">
    <div id="left" style='height:100%; overflow-y:auto; background-color:rgba(0, 0, 0, 0);border:none;padding: 5px 0px 0px 5px;'>
        <img style="float:left; width:100%" src="images/welcome.png">
        <div class='greetings'>
          <h2 class="introtext">
	        Welcome to the <br>
		    <span class="highlight3">brain characteristics study
		    </span>
		  </h2>
		</div>

        <div class='greetingsP'>
          <div class='greetingsPC'>
Recently, there has been a dramatic increase in the number of infants diagnosed with abnormal head shape, called Deformational Plagiocephaly.
Infants with abnormal head shapes often receive corrective treatment with a helmet.
This study is being done to learn more about brain functioning in infants with abnormal head shape before and after they receive helmet therapy.
It will enable investigators to seek preliminary evidence that brain development is influenced by the shape of the head, and that changes in brain structure and characteristics could occur with helmet therapy.
          </div>
	    </div>
    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
