<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html class='welcome' xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Brain Characteristics Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>
<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li class="active"><a href="index.php?IECheck=${IECHECK}">home</a></li>
			<li><a href="ourStudy.php?IECheck=${IECHECK}">our study</a></li>
			<li><a href="whoWeAre.php?IECheck=${IECHECK}">who we are</a></li>
			<li><a href="preparingForYourStudyVisit.php?IECheck=${IECHECK}">preparing your visit</a></li>
			<li><a href="whatToExpectDuringYourStudyVisit.php?IECheck=${IECHECK}">what to expect</a></li>
			<li><a href="contactUs.php?IECheck=${IECHECK}">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents" style="height:100%">
    <div id="left" style='height:100%; overflow-y:auto; background-color:rgba(0, 0, 0, 0);border:none;padding: 5px 0px 0px 5px;'>
 <div style="
    text-align: center;
    background-color: #808080;
    color: whitesmoke;
    padding: 10px;
"><h1 style='color:yellow;'>WARNING</h1>
<p style='color:white;font-size:150%'>
You are running an unsupported brower.
</p>
<p align='left' style='color:white;'>
The version of Internet Explorer you are using is outdated and does not support many modern web standards. If you continue on this website, your experience will be severely degraded (images will be misplaced, buttons and navigation elements will not display properly and might not work at all).
</p>
<p align='left' style='color:white;'>
If you are on Windows 7 or Windows 8, please check your compatiblity settings and make certain you are running the latest version of Internet Explorer.
</p>
<p style='color:white;font-size:133%;'>
We <b>highly</b> recommend using a modern standards-compliant browser such as Google Chrome or Mozilla Firefox when interacting with this site.
</p>
</div>
<div class="IERocks" style="
display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        *display: inline;
    text-align: center;
    width: 50%; 
    background-color: #73B6FF;
    padding-top: 20px;
    padding-bottom: 20px;
">
<!-- <img style='float:left;' height="30" src='images/chrome.png' /> -->
  <a href="https://www.google.com/intl/en/chrome/browser/"><h1 style='color:white;'>get Chrome</h1></a>
  </div>
  <div class="IERocks" style="
display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        *display: inline;
    text-align: center;
    width: 50%;
    background-color: #409BFF;
    padding-top: 20px;
    padding-bottom: 20px;
">
<a href="http://www.mozilla.org/en-US/firefox/fx/#desktop"><h1 style='color:white;'>get Firefox</h1></a>
 </div>          
 <div class="IERocks" style="
display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        *display: inline;
    text-align: center;
    width: 100%; 
    background-color: #FF7373;
    padding-top: 10px;
    padding-bottom: 10px;
">
<a href="index.php?IECheck=0"><p>Continue regardless</p></a>
</div>
  </div>
</div>

${FOOTER}

</body>
</html>


















