<a href="#overlay" id="open-overlay"></a>
<div id="overlay">
    <a href="#" class="close">&times;</a>
<div style="
    height:30%;
    text-align: center;
    background-color: #808080;
    color: whitesmoke;
"><h1> YOU ARE USING INTERNET EXPLORER</br>
       WE HIGHLY RECOMMEND TO USE A DIFFERENT WEB BROWSER</br>
       YOUR EXPERIENCE WILL BE HIGHLY IMPACTED</h1></div>
  <div style="height:70%">
<div style="
    text-align: center;
    height:33%;
    width: 40%; 
    background-color: #FF7373;
    margin-left: 30%;
">
<a href="index.php?IECheck=0"><h1>I understand the risk...</h1></a>
</div>
<div style="
    text-align: center;
    height:33%;
    width: 40%; 
    background-color: #73B6FF;
    margin-left: 30%;
">
  <a href="https://www.google.com/intl/en/chrome/browser/"><h1>GET CHROME!</h1></a>
  </div>
  <div style="
    text-align: center;
    height:33%;
    width: 40%;
    background-color: #FFEE73;
    margin-left: 30%;
">
<a href="http://www.mozilla.org/en-US/firefox/fx/"><h1>GET FIREFOX!</h1></a>
  </div>    
  </div>
</div>
<div id="mask" onclick="document.location='#';"></div>
