<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Head Injury Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li><a href="index.php">home</a></li>
			<li><a href="ourStudy.php">our study</a></li>
			<li><a href="whoWeAre.php">who we are</a></li>
			<li class="active"><a href="preparingForYourStudyVisit.php">preparing your visit</a></li>
			<li><a href="whatToExpectDuringYourStudyVisit.php">what to expect</a></li>
			<li><a href="contactUs.php">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents" style="height:100%">
    <div id="left" style="height:100%; overflow-y:auto;">

    <div id="preparenav" class="navwrap">
   <div id="locationnav" class="nav active" onclick="showdiv('location')">location</div>
   <div id="directionsnav" class="nav" onclick="showdiv('directions')">directions</div>
   <div id="parkingnav" class="nav" onclick="showdiv('parking')">parking</div>
   <div id="dressnav" class="nav" onclick="showdiv('dress')">dress requirements</div>
</div>

    <div id="location">
    <div class="fixednav"></div>
    <h2><a href="#">location... </a></h2>

	<p>
Study MRI scans will be conducted in the Department of Radiology at Boston Children’s Hospital Waltham, located at 9 Hope Avenue in Waltham, MA.
	</p>

<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+Hope+Avenue+in+Waltham,+MA.&amp;aq=&amp;sll=42.314385,-70.970306&amp;sspn=0.52298,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=9+Hope+Ave,+Waltham,+Middlesex,+Massachusetts+02453&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9+Hope+Avenue+in+Waltham,+MA.&amp;aq=&amp;sll=42.314385,-70.970306&amp;sspn=0.52298,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=9+Hope+Ave,+Waltham,+Middlesex,+Massachusetts+02453&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

</div>

<div id="directions">
    <div class="fixednav"></div>
<h2><a href="#">directions to Boston Children's Hospital Waltham... </a></h2>

<p>
From the Massachusetts Turnpike (Interstate 90) Eastbound
Take exit 14 for I-95/Route 128.
Proceed north and follow the I-95/Route 128 northbound directions
</p>

<p>
From the Massachusetts Turnpike (Interstate 90) Westbound
Take exit 15 for I-95/Route 128.
Proceed north and follow the I-95/Route 128 northbound directions.
</p>

<p>
From I-95/Route 128 Northbound
Take exit 26 to Waltham/Weston.
Follow signs for Route 20 East toward Waltham.
Stay on Route 20/Weston Street for 1 mile into Waltham.
At the 3rd set of lights, bear right onto Vernon Street.
Proceed 1/4 mile and turn right onto South Street.
Proceed 1/4 mile and turn left onto Highland Street.
Continue just 400 feet and turn right onto Hope Avenue.
Follow the signs for Boston Children's Hospital at Waltham.
</p>

<p>
From I-95/Route 128 Southbound
Take exit 26 to Waltham/Weston.
Bear left around the Route 20 rotary towards Waltham/Boston (Route 20 East).
At the 3rd set of lights, bear right onto Vernon Street.
Proceed 1/4 mile and turn right onto South Street.
Proceed another 1/4 mile and turn left onto Highland Street.
Continue just 400 feet and turn right onto Hope Avenue.
Follow the signs for Boston Children's Hospital at Waltham.
</p>

<p>
Public transportation (MBTA)
The two bus routes with stops nearest to 9 Hope Ave are:

553 (Roberts-Downtown Boston via Newton Corner & Mass Pike)
554 (Waverly Sq.-Downtown Boston via Newton Corner & Mass Pike)
</p>

</div>

<div id="parking">
    <div class="fixednav"></div>
<h2><a href="#">parking... </a></h2>

<p>
Boston Children’s Hospital Waltham has two parking options available to patients and families:

Boston Children’s Hospital Waltham Parking Garage -  This covered garage is located at the hospital entrance.  There is no charge to park in the garage.

Boston Children’s Hospital Waltham Parking Lot – This parking lot is located further down Hope Avenue, behind the hospital parking garage. Parking in this outdoor lot is free of charge.
</p>

</div>

<div id="dress">
    <div class="fixednav"></div>
<h2><a href="#">dress requirements... </a></h2>
<p>
On the day you are scheduled for your appointment, we ask that you dress your child in clothing that does not contain any metal (such as snaps, zippers, belt or shoe buckles, hair clips, jewelry or earrings). We will check to make sure that you and your child are metal-free with a metal detector. 
 
If you plan to stay inside the room with your child, we ask that you bring or wear metal-free clothing. 
</p>
<p>
People with metal inside their bodies and pregnant women are also not allowed inside the MRI room. This includes: 
<ol>
<li>dental braces</li>
<li>permanent dental retainers</li>
<li>cochlear implant</li>
<li>aneurysm clip</li>
<li>metal fragments in the eye</li>
<li>shrapnel</li>
<li>neurostimulator</li>
<li>cardiac pacemaker</li>
<li>glasses with metal frames*</li>
<li>body piercings </li>
<li>some intrauterine devices - check with us!</li>
</ol>
*If you bring your prescription, we can provide you with a temporary pair of glasses that are MRI-safe.	
</p>
</div>

    </div>
  </div>
</div>

<script>
showdiv = function(id){

//document.getElementById('location').style.display = 'none';
//document.getElementById('directions').style.display = 'none';
//document.getElementById('parking').style.display = 'none';
//document.getElementById('dress').style.display = 'none';
document.getElementById('locationnav').classList.remove('active');
document.getElementById('directionsnav').classList.remove('active');
document.getElementById('parkingnav').classList.remove('active');
document.getElementById('dressnav').classList.remove('active');

var element = document.getElementById(id);
element.scrollIntoView();
document.getElementById(id+'nav').classList.add('active')
}
</script>

${FOOTER}

</body>
</html>
