<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Head Injury Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li><a href="index.php">home</a></li>
			<li><a href="moreAboutConcussion.php">more about concussion</a></li>
			<li><a href="howDoIParticipate.php">how do I participate</a></li>
			<li><a href="aboutThisStudy.php">about this study</a></li>
			<li class="active"><a href="whoWeAre.php">who we are</a></li>
			<li><a href="contactUs.php">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents">
    <div id="left" style='height:100%; overflow-y:auto;'>
    	<h2><a href="#">who we are... </a></h2>

        <div style='height:160px'>
    	<a href="" class="person " title="Rebekah" style='float:left;'><img src="images/rebekah_mannix.jpg" alt="Rebekah"></a>
    	<h3>Rebekah Mannix, MD, MPH</h3>
    	<p>
    	Rebekah Mannix MD, MPH (lead investigator) is a staff physician in emergency medicine at Boston Children’s Hospital, co-Director of the Boston Children’s Hospital Brain Injury Center and an Assistant Professor of pediatrics at Harvard Medical School.  Dr. Mannix is also a Williams college alumna who played 5 seasons of rugby during college.
    	</p>
    	</div>

    	<div style='height:160px'>
    	<a href="" class="person " title="William" style='float:left;'><img src="images/bill_meehan.jpg" alt="William"></a>
    	<h3>William Meehan, MD</h3>
		<p>
		William Meehan MD, is a staff physician in Sports Medicine and Emergency Medicine, Director of the Sports Concussion Clinic at Boston Children’s Hospital, Director of the Micheli Center for Sports Injury Prevention and an Assistant Professor of Pediatrics and Orthopedics at Harvard Medical School.    	
		</p>
		</div>


        <div style='height:160px'>
    	<a href="" class="person " title="Paul" style='float:left;'><img src="images/paul_berkner.jpg" alt="Paul"></a>
		<h3>Paul Berkner, DO</h3>
    	<p>
		Paul Berkner DO, is the Director of Health Services at Colby College and a founding member of the The Maine Concussion Management Initiative (MCMI).   
    	</p>
    	</div>

    	<div style='height:160px'>
    	    	<a href="" class="person " title="Alex" style='float:left;'><img src="images/alex_taylor.jpg" alt="Alex"></a>
    	<h3>Alex Taylor, PsyD</h3>
    	<p>
		Alex Taylor PsyD, is the Director of Neuropsychology for the Brain Injury Center at Boston Children’s Hospital and specializes in treating patients with traumatic brain injury.
    	</p>
    	</div>

    	<div style='height:160px'>
    	<a href="" class="person " title="Kevin" style='float:left;'><img src="images/kevin_guskiewicz2.jpg" alt="Kevin"></a>
    	<h3>Kevin Guskiewicz</h3>
    	<p>
		Kevin Guskiewicz PhD, ATC is has conducted several large studies in former NFL and NCAA athletes.  He is the  is the Kenan Distinguished Professor and Co-Director of the Matthew Gfeller Sport-Related Traumatic Brain Injury Research Center and Director of the Center for the Study of Retired Athletes in the Department of Exercise and Sport Science at The University of North Carolina at Chapel Hill.
    	</p>
    	</div>


    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
