<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
${IETAG}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Brain Characteristics Study</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='js/misc.js'></script>
</head>

<body>

<div id="topbar">
	<div id="TopSection">
		<ul id="topmenu">
			<li><a href="index.php?IECheck=${IECHECK}">home</a></li>
			<li><a href="ourStudy.php?IECheck=${IECHECK}">our study</a></li>
			<li class="active"><a href="whoWeAre.php?IECheck=${IECHECK}">who we are</a></li>
			<li><a href="preparingForYourStudyVisit.php?IECheck=${IECHECK}">preparing your visit</a></li>
			<li><a href="whatToExpectDuringYourStudyVisit.php?IECheck=${IECHECK}">what to expect</a></li>
			<li><a href="contactUs.php?IECheck=${IECHECK}">contact us</a></li>
		</ul>
	</div>
</div>

<div id="wrap">
  <div id="contents" style="height:100%">
    <div id="left" style='height:100%; overflow-y:auto;'>
    	<h2><a href="#">who we are... </a></h2>

        <div style='height:200px'>
    	<a href="" class="person " title="Michele" style='float:left;'><img src="images/michele_degrazia.jpg" alt="Michele"></a>
    	<h3>Dr. Michele DeGrazia PhD, RN, NNP-BC</h3>
        <p>Principal Investigator</p>
    	<p>
          Dr. DeGrazia is a NICU nurse practitioner and nurse scientist with more than 20 years of experience caring for sick infants; the infant population at highest risk for developing deformational plagiocephaly. She also serves as the principal investigator on two studies investigating a new positional device called the cranial cup in effort to prevent/correct deformational plagiocephaly. As Principal Investigator on this study, Dr. DeGrazia will oversee study operations, train research staff, and identify and consent study subjects.
    	</p>
    	</div>

    	<div style='height:200px'>
    	<a href="" class="person " title="Ellen" style='float:left;'><img src="images/ellen_grant.jpg" alt="Ellen"></a>
    	<h3>Dr. P. Ellen Grant MD</h3>
<p>Co-Principal Investigator</p>
		<p>
Dr. Grant is an accomplished Neuro-radiologist and researcher involved in a number of ongoing investigations examining infants with brain injury. She has extensive experience with the new technologies (non-sedated MRI and FDNIR/DCS) to be used in this investigation. As Co-Principal Investigator on this study, Dr. Ellen Grant will be responsible for the interpretation of brain MRIs, frequency domain near infrared and diffuse correlation spectroscopy results. 
		</p>
		</div>

    	<div style='height:200px'>
    	    	<a href="" class="person " title="Nadine" style='float:left;'><img src="images/nadine_gaab.jpg" alt="Nadine"></a>
    	<h3>Dr. Nadine Gaab, PhD</h3>
        <p>Co-Investigator</p>
    	<p>
Nadine Gaab is a developmental cognitive neuroscientist and is currently conducting a number of studies on typical and atypical language development. She will oversee the behavioral testing and the natural sleeping paradigm in the MRI scanner.
    	</p>
    	</div>


        <div style='height:200px'>
    	<a href="" class="person " title="Mark" style='float:left;'><img src="images/mark_proctor.jpg" alt="Mark"></a>
		<h3>Dr. Mark Proctor MD</h3>
        <p>Co-Investigator</p>
    	<p>
Dr. Proctor is an associate professor of neurosurgery at Harvard Medical School and a pediatric neurosurgeon at Boston Children’s hospital who has firsthand experience treating children with deformational plagiocephaly.  Dr. Proctor contributes extensively to the publication of manuscripts on cranial malformations.  Dr. Proctor will identify and consent potential study participants.
    	</p>
    	</div>

    	<div style='height:200px'>
    	    	<a href="" class="person " title="Alexander" style='float:left;'><img src="images/alexander_allori.jpg" alt="Alexander"></a>
    	<h3>Dr. Alexander Allori MD, MPH</h3>
        <p>Co-Investigator</p>
    	<p>
Dr. Allori is a craniofacial fellow in the department of Plastics and Oral Surgery at Boston Children’s Hospital. His interests include pediatric craniofacial surgery and clinical/patient outcomes research. Dr. Allori will assist with identifying potential study participants.
    	</p>
    	</div>
    </div>
  </div>
</div>

${FOOTER}

</body>
</html>
